interface=eth1
snmpPort=16100
deviceIPs=172.17.1.0/24,172.17.101.1/32
dataDir=/root/dev/snmpsim
#walk file name in the {dataDir}/walkFiles folder, only one file is supported
deviceToSimulate=C3925.walk
#mib files in the mibDir will be simulated even if they are inside another folder
mibDir=/root/dev/snmpsim/mibs
